.medical-kit-image img{
    position: absolute;;
    top:0;
    height: 565px;
    width: 659px;
    bottom: 0;
}
.content-box-md{
    padding:90px 0px;
}

.heading h2 {
    color:#0071ad;
    text-transform: uppercase;
    font-size: 40px;
}

.heading{
    padding:20px;
    margin-left: 100px;
}

.para{
    margin:0 5px 0 55px;
}

.para p{
    font-size:17px;
    line-height: 25px;
    font-weight: 300;
}
#medical-kit{
    background: #eee;
    position: absolute;
    height: 100%;
}




/*medical-kit*/
.dropbtn {
   
    color: white;
    font-size: 16px;
  }
  
  .navbar{
      margin-top:-15px;
  }

  .nav-item .nav-link a{
      color:white;
  }

  #navbar-02{
      padding-left:240px;
  }
  .nav-item{
      padding:0px 10px;
  }
  
  .navbar-nav{
    font-size: 20px;
    }

    .navbar-nav .navbar-brand{
        margin:20px 30px 0 30px;
       margin-top:15px;
    }

  .navbar{
      right:0;
  }
 .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover {background-color:white;
}
  
  
  .dropdown:hover .dropdown-content {display: block;}
  
  
  .dropdown:hover .dropbtn {background-color: #d7f6fa;
color: white;}

.dropdown-content a{
    font-size: 15px;
    font-weight: 500;
}
  .navbar-nav .navbar-brand img{
      height:50px;
      width:80px;
      margin:0px;
      padding: 0px;
  }

  .nav-item a:hover{
    color:#2bafe3;
    text-decoration:none;
  }

  .navbar-light .navbar-nav .nav-link:hover{
      color: #2bafe3;
  }
  .navbar{
     width:100%;
        position:fixed;
        top:0;
        left:0; 
    }

    .bg-light{
        background:transparent !important;
    }

    .white-nav-top{
        background: white !important;
        padding: 0px;
        z-index: 9999;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.9);
    }
  
    .white-nav-top .nav-item span.nav-link a{
        color:#2bafe3;
        font-weight: 400;
    }

    .white-nav-top ul.navbar-nav .show > span.nav-link, .white-nav-top ul.navbar-nav .active > span.nav-link, .white-nav-top ul.navbar-nav span.nav-link.show, .white-nav-top ul.navbar-nav span.nav-link.active{
        color:yellow !important;
    }
    .white-nav-top .nav-item{
        margin-top:13px;
    }
/*.........footer 02..................*/
footer .container-fluid{
    background-color:ghostwhite;
}

.footer-img{
    height: 120px;
    margin-top: 30px;
    width: 120px;
    margin-left:46%;
}

.footer-links{
    word-spacing: 30px;
    margin-left: 254px;
    margin-bottom: 50px;
    
}

.footer-links a{
    color: #0071ad;
}

.footer-links a:hover{
    text-decoration: none;
    color: #212226;
}

.footer-02-text{
    text-transform: uppercase;
    color: #212226;
    word-spacing: 4px;
    margin-left: 35%;
    margin-top: -20px;
    margin-bottom: 30px;
}

.footer-02-text h1{
    font-size: 18px;
}

#footer-02{
    position: absolute;
    margin-top: 50%;
}